@using GTRouteApp.Models
@using GTRouteApp.Helpers
@namespace GTRouteApp.BrowseComponents
@inject NavigationManager NavigationManager

<div class="list-container">
    <div class="list-sidebar">
        <Virtualize Items="@Tracks" Context="track">
            @if (track.Slug == _selectedSlug)
            {
                <div class="item-content">
                    <img src="@track.LogoUrl" 
                        alt="@track.Name">
                    <p>@track.Name</p>
                </div>
            }
            else
            {
                <div class="item-content">
                    <img src="@track.LogoUrl" 
                        alt="@track.Name">
                    <p>@track.Name</p>
                </div>
            }
        </Virtualize>
        @if (!IsMaximum)
        {
            <div class="more-notice">
                <button type="button" 
                    class="@loadMoreBtnClass"
                    disabled="@IsLoadMoreDisabled">
                    @loadMoreBtnText
                </button>
                @if (IsLoadMoreError)
                {
                    <p style="margin-left: 10px;">
                        @ErrorMessage.LoadMoreTracksFailed
                    </p>
                }
            </div>
        }
        else
        {
            <div class="more-notice">
                <p>More race tracks will be added<br>in the future</p>
            </div>
        }
    </div>
    <p>
        Highlight In Construction!!!!
    </p>
</div>

@code {
    [Parameter]
    public List<RaceTrack> Tracks { get; set; } = new();
    private string _selectedSlug = "";
    [Parameter]
    public bool IsMaximum { get; set; } = false;
    [Parameter]
    public bool IsLoadMoreError { get; set; } = false;
    [Parameter]
    public bool IsLoadMoreDisabled { get; set; } = false;
    [Parameter]
    public EventCallback OnLoadMoreClicked { get; set; }
    private string loadMoreBtnClass = "";
    private string loadMoreBtnText = "";

    protected override void OnParametersSet()
    {
        if (Tracks.Count() > 0 &&
            !string.IsNullOrEmpty(Tracks.ElementAt(0).Slug))
        {
            _selectedSlug = Tracks.ElementAt(0).Slug!;
        }

        loadMoreBtnClass = !IsLoadMoreError ? "btn btn-primary btn-more" : "btn btn-warning btn-more";
        loadMoreBtnText = !IsLoadMoreError ? "Load More" : "Try Again";
    }
}