@using GTRouteApp.Models
@using GTRouteApp.Helpers
@namespace GTRouteApp.BrowseComponents
@inject NavigationManager NavigationManager

<div class="list-container">
    <div class="list-sidebar">
        <Virtualize Items="@Tracks" Context="track">
            <div class="@((_selectedSlug.Equals(track.Slug) ? "item-content-selected" : "item-content"))"
                @onclick="() => SetSelection(track.Slug)">
                <img src="@track.LogoUrl" 
                    alt="@track.Name">
                <p>@track.Name</p>
            </div>
        </Virtualize>
        @if (!IsMaximum)
        {
            <div class="more-notice">
                <button type="button" 
                    class="@loadMoreBtnClass"
                    disabled="@IsLoadMoreDisabled"
                    @onclick="@(() => LoadMoreTracks())">
                    @loadMoreBtnText
                </button>
                @if (IsLoadMoreError)
                {
                    <p style="margin-top: 10px;">
                        @ErrorMessage.LoadMoreTracksFailed
                    </p>
                }
            </div>
        }
        else
        {
            <div class="more-notice">
                <p>More race tracks will be added in the future</p>
            </div>
        }
    </div>

    <div class="list-highlight" 
        style="--bg-cover: url('@_selectedTrack.CoverUrl');">
        <div class="highlight-section-1">
            <i class="bi bi-car-front-fill"></i> <!-- placeholder for GT logo -->

            <img src="@_selectedTrack.LogoUrl" 
                alt="@_selectedTrack.LogoUrl" />
        </div>

        <div class="highlight-section-2">
            <div class="section-2-left">
                <p>
                    <span style="font-size: 32px;">@_selectedTrack.Name</span>
                </p>
                <p>Country</p>
                <p>
                    <span class="fi fi-@_selectedTrack.Country?.code" 
                        style="margin-bottom: 6px; margin-right: 4px;">
                    </span>
                    <span>@_selectedTrack.Country?.name</span>
                </p>
                <p>Category</p>
                <p>
                    <span>@_selectedTrack.Category</span>
                </p>
                <p>Number of Layout</p>
                <p>
                    <span>@_selectedTrack.NumberOfLayouts</span>
                </p>
            </div>

            <button type="button" 
                class="btn btn-success btn-access">
                View Track
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<RaceTrack> Tracks { get; set; } = new();
    private string _selectedSlug = "";
    private RaceTrack _selectedTrack = new();
    [Parameter]
    public bool IsMaximum { get; set; } = false;
    [Parameter]
    public bool IsLoadMoreError { get; set; } = false;
    [Parameter]
    public bool IsLoadMoreDisabled { get; set; } = false;
    [Parameter]
    public EventCallback OnLoadMoreClicked { get; set; }
    private string loadMoreBtnClass = "";
    private string loadMoreBtnText = "";

    protected override void OnInitialized()
    {
        PreselectTrack();
    }

    protected override void OnParametersSet()
    {
        loadMoreBtnClass = !IsLoadMoreError ? "btn btn-primary" : "btn btn-warning";
        loadMoreBtnText = !IsLoadMoreError ? "Load More" : "Try Again";
    }

    private void PreselectTrack()
    {
        if (Tracks.Count() > 0 &&
            !string.IsNullOrEmpty(Tracks.ElementAt(0).Slug))
        {
            SetSelection(Tracks.ElementAt(0).Slug);
        }
    }

    private void SetSelection(string? slug)
    {
        if (!string.IsNullOrEmpty(slug) && !_selectedSlug.Equals(slug))
        {
            _selectedSlug = slug;
            _selectedTrack = Tracks.Where(t => t.Slug == _selectedSlug).FirstOrDefault() ?? new();
        }
    }

    private async Task LoadMoreTracks()
    {
        await OnLoadMoreClicked.InvokeAsync();
    }
}