@using GTRouteApp.Models
@using GTRouteApp.Helpers
@namespace GTRouteApp.BrowseComponents
@inject NavigationManager NavigationManager

<div class="list-container">
    <div class="list-sidebar">
        <Virtualize Items="@Tracks" Context="track">
            <div class="@((_selectedSlug.Equals(track.Slug) ? "item-content-selected" : "item-content"))"
                @onclick="() => SetSelection(track.Slug)">
                <img src="@track.LogoUrl" 
                    alt="@track.Name">
                <p>@track.Name</p>
            </div>
        </Virtualize>
        @if (!IsMaximum)
        {
            <div class="more-notice">
                <button type="button" 
                    class="@loadMoreBtnClass"
                    disabled="@IsLoadMoreDisabled"
                    @onclick="@(() => LoadMoreTracks())">
                    @loadMoreBtnText
                </button>
                @if (IsLoadMoreError)
                {
                    <p style="margin-top: 10px;">
                        @ErrorMessage.LoadMoreTracksFailed
                    </p>
                }
            </div>
        }
        else
        {
            <div class="more-notice">
                <p>More race tracks will be added in the future</p>
            </div>
        }
    </div>

    <div class="list-highlight">
        <p>@_selectedTrack.Name</p>
        <p>Country: <span class="fi fi-@_selectedTrack.Country?.code"></span> @_selectedTrack.Country?.name</p>
        <p>Category: @_selectedTrack.Category</p>
        <p>Number of Layout: @_selectedTrack.NumberOfLayouts</p>
        <img src="@_selectedTrack.LogoUrl" alt="logo" />
    </div>
</div>

@code {
    [Parameter]
    public List<RaceTrack> Tracks { get; set; } = new();
    private string _selectedSlug = "";
    private RaceTrack _selectedTrack = new();
    [Parameter]
    public bool IsMaximum { get; set; } = false;
    [Parameter]
    public bool IsLoadMoreError { get; set; } = false;
    [Parameter]
    public bool IsLoadMoreDisabled { get; set; } = false;
    [Parameter]
    public EventCallback OnLoadMoreClicked { get; set; }
    private string loadMoreBtnClass = "";
    private string loadMoreBtnText = "";

    protected override void OnInitialized()
    {
        PreselectTrack();
    }

    protected override void OnParametersSet()
    {
        loadMoreBtnClass = !IsLoadMoreError ? "btn btn-primary btn-more" : "btn btn-warning btn-more";
        loadMoreBtnText = !IsLoadMoreError ? "Load More" : "Try Again";
    }

    private void PreselectTrack()
    {
        if (Tracks.Count() > 0 &&
            !string.IsNullOrEmpty(Tracks.ElementAt(0).Slug))
        {
            SetSelection(Tracks.ElementAt(0).Slug);
        }
    }

    private void SetSelection(string? slug)
    {
        if (!string.IsNullOrEmpty(slug) && !_selectedSlug.Equals(slug))
        {
            _selectedSlug = slug;
            _selectedTrack = Tracks.Where(t => t.Slug == _selectedSlug).FirstOrDefault() ?? new();
        }
    }

    private async Task LoadMoreTracks()
    {
        await OnLoadMoreClicked.InvokeAsync();
    }
}