@using GTRouteApp.Models
@inject NavigationManager NavigationManager

<div class="home-featured">
    <div class="featured-row-1">
        <div class="row-1-featured-item" 
            style="--bg-cover: url(@Featured.ElementAt(0).CoverUrl); --delay: 0s;"
            @onclick="() => AccessTrackDetail(Featured.ElementAt(0).Slug!)">
            <div class="featured-info">
                <img src="@Featured.ElementAt(0).LogoUrl" 
                    alt="@Featured.ElementAt(0).Name logo" />
                <p class="featured-title">@Featured.ElementAt(0).Name</p>
                <p class="featured-text">@((MarkupString)(Featured.ElementAt(0).Text ?? ""))</p>
            </div>
        </div>
        <div class="row-1-featured-item" 
            style="--bg-cover: url(@Featured.ElementAt(1).CoverUrl); --delay: .15s;"
            @onclick="() => AccessTrackDetail(Featured.ElementAt(1).Slug!)">
            <div class="featured-info">
                <img src="@Featured.ElementAt(1).LogoUrl" 
                    alt="@Featured.ElementAt(1).Name logo" />
                <p class="featured-title">@Featured.ElementAt(1).Name</p>
                <p class="featured-text">@((MarkupString)(Featured.ElementAt(1).Text ?? ""))</p>
            </div>
        </div>
    </div>

    <div class="featured-media">
        <IndexFeaturedMedia />
    </div>

    <div class="featured-row-2">
        <div class="row-2-featured-item" 
            style="--bg-cover: url(@Featured.ElementAt(2).CoverUrl); --delay: .2s;"
            @onclick="() => AccessTrackDetail(Featured.ElementAt(2).Slug!)">
            <div class="featured-info">
                <img src="@Featured.ElementAt(2).LogoUrl" 
                    alt="@Featured.ElementAt(2).Name logo" />
                <p class="featured-title">@Featured.ElementAt(2).Name</p>
                <p class="featured-text">@((MarkupString)(Featured.ElementAt(2).Text ?? ""))</p>
            </div>
        </div>
        <div class="row-2-featured-item" 
            style="--bg-cover: url(@Featured.ElementAt(3).CoverUrl); --delay: .25s;"
            @onclick="() => AccessTrackDetail(Featured.ElementAt(3).Slug!)">
            <div class="featured-info">
                <img src="@Featured.ElementAt(3).LogoUrl" 
                    alt="@Featured.ElementAt(3).Name logo" />
                <p class="featured-title">@Featured.ElementAt(3).Name</p>
                <p class="featured-text">@((MarkupString)(Featured.ElementAt(3).Text ?? ""))</p>
            </div>
        </div>
        <div class="row-2-featured-item" 
            style="--bg-cover: url(@Featured.ElementAt(4).CoverUrl); --delay: .3s"
            @onclick="() => AccessTrackDetail(Featured.ElementAt(4).Slug!)">
            <div class="featured-info">
                <img src="@Featured.ElementAt(4).LogoUrl" 
                    alt="@Featured.ElementAt(4).Name logo" />
                <p class="featured-title">@Featured.ElementAt(4).Name</p>
                <p class="featured-text">@((MarkupString)(Featured.ElementAt(4).Text ?? ""))</p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<FeaturedTrack> Featured { get; set; } = new();
    
    private void AccessTrackDetail(string slug)
    {
        NavigationManager.NavigateTo($"/browse/detail/{slug}?origin=home");
    }
}