@page "/"
@using GTRouteApp.Services
@using GTRouteApp.Models
@inject FeaturedService FeaturedService
@inject NavigationManager NavigationManager

<PageTitle>Home | GTRoad</PageTitle>

<div class="home-container">
    @if (featuredTracks == null || featuredTracks.Count() == 0)
    {
        <NoDataView Message="@errorMessage" ShowError="@showError" OnTryAgainClicked="OnTryAgainHandler" />
    }
    else
    {
        <IndexSubheader Info="Welcome to GTRoad! Here you can look for information of race tracks that featured on Gran Turismo series." />

        <IndexFeaturedTrack Tracks="@featuredTracks" Media="@featuredMedia"  />

        @if(featuredMedia.Count() > 0)
        {
            <IndexFeaturedMedia Media="@featuredMedia" />
        }

        <IndexNotice />
    }
</div>

@code {
    private List<FeaturedTrack> featuredTracks = new();
    private List<FeaturedImage> featuredMedia = new();

    private string errorMessage = "";
    private bool showError = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        await LoadFeatured();
        CheckError();
    }

    private async Task LoadFeatured()
    {
        var featuredTracksData = await FeaturedService.GetFeaturedTracks();
        featuredTracks.AddRange(featuredTracksData);

        var featuredMediaData = await FeaturedService.GetFeaturedMedias(4);
        featuredMedia.AddRange(featuredMediaData);
    }

    private void AccessTrackDetail(string slug)
    {
        NavigationManager.NavigateTo($"/browse/detail/{slug}?origin=home");
    }

    private void CheckError()
    {
        errorMessage = FeaturedService.GetRecentErrorMessage();
        showError = string.IsNullOrWhiteSpace(errorMessage) ? false : true;
    }

    private async Task OnTryAgainHandler()
    {
        showError = false;

        await LoadData();
    }
}