@using GTRouteApp.Models
@namespace GTRouteApp.HomeComponents
@inject NavigationManager NavigationManager

<div class="home-featured">
    <div class="featured-row-1">
        <!-- Real Circuit -->
        <div class="row-1-featured-item" 
            style="--bg-cover: url(@Tracks.ElementAt(3).CoverUrl); 
                --delay: 0s;"
            @onclick="() => AccessTrackDetail(Tracks.ElementAt(3).Slug!)">
            <div class="featured-info" style="border-color: red;">
                <div class="featured-logo-title">
                    <img src="@Tracks.ElementAt(3).LogoUrl" 
                        alt="@Tracks.ElementAt(3).Name logo" />
                    <p class="featured-title">@Tracks.ElementAt(3).Name</p>
                </div>
                <p class="featured-text">
                    <i class="bi bi-info-circle"></i> @((MarkupString)(Tracks.ElementAt(3).Text ?? ""))
                </p>
            </div>
        </div>

        <!-- Original Circuit -->
        <div class="row-1-featured-item" 
            style="--bg-cover: url(@Tracks.ElementAt(0).CoverUrl); 
                --delay: .15s;"
            @onclick="() => AccessTrackDetail(Tracks.ElementAt(0).Slug!)">
            <div class="featured-info" style="border-color: blue;">
                <div class="featured-logo-title">
                    <img src="@Tracks.ElementAt(0).LogoUrl" 
                        alt="@Tracks.ElementAt(0).Name logo" />
                    <p class="featured-title">@Tracks.ElementAt(0).Name</p>
                </div>
                <p class="featured-text">
                    <i class="bi bi-info-circle"></i> @((MarkupString)(Tracks.ElementAt(0).Text ?? ""))
                </p>
            </div>
        </div>
    </div>

    <!-- Featured Images for mobile -->
    @if (FeaturedImages.Count() > 0)
    {
        <div class="featured-media">
            <IndexFeaturedMediaHeader IsVideoIconHidden="true" />
            <IndexFeaturedMediaImage Media="@FeaturedImages" />
        </div>
    }

    <div class="featured-row-2">
        <!-- City Circuit -->
        <div class="row-2-featured-item" 
            style="--bg-cover: url(@Tracks.ElementAt(2).CoverUrl); 
                --delay: .2s;"
            @onclick="() => AccessTrackDetail(Tracks.ElementAt(2).Slug!)">
            <div class="featured-info" style="border-color: green;">
                <div class="featured-logo-title">
                    <img src="@Tracks.ElementAt(2).LogoUrl" 
                        alt="@Tracks.ElementAt(2).Name logo" />
                    <p class="featured-title">@Tracks.ElementAt(2).Name</p>
                </div>
                <p class="featured-text">
                    <i class="bi bi-info-circle"></i> @((MarkupString)(Tracks.ElementAt(2).Text ?? ""))
                </p>
            </div>
        </div>

        <!-- Dirt / Snow -->
        <div class="row-2-featured-item" 
            style="--bg-cover: url(@Tracks.ElementAt(4).CoverUrl); 
                --delay: .25s;"
            @onclick="() => AccessTrackDetail(Tracks.ElementAt(4).Slug!)">
            <div class="featured-info" style="border-color: orange;">
                <div class="featured-logo-title">
                    <img src="@Tracks.ElementAt(4).LogoUrl" 
                        alt="@Tracks.ElementAt(4).Name logo" />
                    <p class="featured-title">@Tracks.ElementAt(4).Name</p>
                </div>
                <p class="featured-text">
                    <i class="bi bi-info-circle"></i> @((MarkupString)(Tracks.ElementAt(4).Text ?? ""))
                </p>
            </div>
        </div>
    </div>

    <!-- Featured Videos for mobile -->
    @if (FeaturedVideos.Count() > 0)
    {
        <div class="featured-media">
            <IndexFeaturedMediaHeader IsImageIconHidden="true" />
            <IndexFeaturedMediaVideo Media="@FeaturedVideos" />
        </div>
    }
</div>

@code {
    [Parameter]
    public List<FeaturedTrack> Tracks { get; set; } = new();

    [Parameter]
    public List<FeaturedImage> FeaturedImages { get; set; } = new();

    [Parameter]
    public List<FeaturedVideo> FeaturedVideos { get; set; } = new();
    
    private void AccessTrackDetail(string slug)
    {
        NavigationManager.NavigateTo($"/browse/detail/{slug}?origin=home");
    }
}