@using GTRouteApp.Helpers
@namespace GTRouteApp.Components.Browse

<div class="selection-container">
    <div class="selection-header">
        <p>Category Selection</p>
        <button type="button"
            title="Close" 
            @onclick="DismissModal" 
            class="btn btn-danger">
            <span class="bi bi-x-square-fill"></span>
        </button>
    </div>
    <div class="selection-category">
        <div class="category-row">
            <button type="button"
                title="Change to Real Circuits" 
                class="btn category-item"
                style="--bgImage: url('img/real-circuits-thumbnail.JPG');"
                disabled="@(CurrentCategory.Equals(BrowseCategory.Categories[2]) ? true : false)" 
                @onclick="() => ChooseCategory(BrowseCategory.Categories[2])">
                <p>@BrowseCategory.Categories[2]</p>
                <hr class="category-item-hr" style="--lineColor: red">
            </button>

            <button type="button"
                title="Change to Original Circuits"  
                class="btn category-item"
                style="--bgImage: url('img/original-circuits-thumbnail.JPG');"
                disabled="@(CurrentCategory.Equals(BrowseCategory.Categories[1]) ? true : false)"
                @onclick="() => ChooseCategory(BrowseCategory.Categories[1])">
                <p>@BrowseCategory.Categories[1]</p>
                <hr class="category-item-hr" style="--lineColor: blue">
            </button>
        </div>

        <div class="category-row">
            <button type="button"
                title="Change to City Circuits"  
                class="btn category-item"
                style="--bgImage: url('img/city-circuits-thumbnail.JPG');"
                disabled="@(CurrentCategory.Equals(BrowseCategory.Categories[3]) ? true : false)"
                @onclick="() => ChooseCategory(BrowseCategory.Categories[3])">
                <p>@BrowseCategory.Categories[3]</p>
                <hr class="category-item-hr" style="--lineColor: green">
            </button>

            <button type="button"
                title="Change to Dirt / Snow"  
                class="btn category-item"
                style="--bgImage: url('img/dirt-snow-thumbnail.jpg');"
                disabled="@(CurrentCategory.Equals(BrowseCategory.Categories[4]) ? true : false)"
                @onclick="() => ChooseCategory(BrowseCategory.Categories[4])">
                <p>@BrowseCategory.Categories[4]</p>
                <hr class="category-item-hr" style="--lineColor: orange">
            </button>
        </div>
    </div>
    <div class="selection-footer">
        <button type="button" 
            title="Show All"
            class="btn btn-warning"
            disabled="@(CurrentCategory.Equals(BrowseCategory.Categories[0]) ? true : false)"
            @onclick="() => ChooseCategory(BrowseCategory.Categories[0])">
            Show All Race Tracks
        </button>
    </div>
    <div class="small-footer"></div>
</div>

@code {
    [CascadingParameter]
    public BlazoredModalInstance CategorySelectionInstance { get; set; } = default!;

    [Parameter]
    public string CurrentCategory { get; set; } = BrowseCategory.Categories[0];

    private async Task ChooseCategory(string category)
    {
        await CategorySelectionInstance.CloseAsync(ModalResult.Ok(category));
    }

    private async Task DismissModal()
    {
        await CategorySelectionInstance.CancelAsync();
    }
}