@using GTRouteApp.Data

<div class="detail-gallery">
    <div class="detail-gallery-highlight">
        <div class="highlight-image-section">
            <img src="@Images.ElementAt(selectedImageIndex).ImageUrl" 
                alt="@Images.ElementAt(selectedImageIndex).ImageName" />
            <button class="btn btn-secondary full-btn">
                <span class="bi bi-arrows-fullscreen"></span>
            </button>
        </div>
        <div class="highlight-info-section">
            <div class="info-part-1">
                <p>@Images.ElementAt(selectedImageIndex).Description</p>
            </div>
            <div class="info-part-2">
                <p><span class="bi bi-camera-fill"></span> by @Images.ElementAt(selectedImageIndex).Author</p>
            </div>
        </div>
    </div>
    <div class="detail-gallery-selection">
        @foreach (var image in Images.Select((imageData, index) => (imageData, index)))
        {
            @if (selectedImageIndex == image.index)
            {
                <div class="gallery-item-selected">
                    <img src="@image.imageData.ImageUrl" alt="@image.imageData.ImageName" />
                </div>
            }
            else
            {
                <div class="gallery-item" @onclick="() => SetSelection(image.index)">
                    <img src="@image.imageData.ImageUrl" alt="@image.imageData.ImageName" />
                </div>
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public List<TrackImage> Images { get; set; } = new();
    private int selectedImageIndex = 0;

    private void SetSelection(int selectedIndex)
    {
        selectedImageIndex = selectedIndex;
    }
}