@using GTRouteApp.Data;

<div class="detail-layout">
    <div class="layout-header">
        <h4><span class="bi bi-sign-turn-left" style="margin-right: 8px;"></span>Layouts</h4>
    </div>
    <div class="detail-layout-list">
        <div class="layout-selection">
            @foreach (var layoutItem in Layouts.Select((layoutData, index) => (layoutData, index)))
            {
                @if (layoutItem.index == selectedLayoutIndex)
                {
                    <div class="layout-item-selected">
                        <p>@layoutItem.layoutData.Name</p>
                    </div>
                }
                else
                {
                    <div class="layout-item" @onclick="() => SetSelection(layoutItem.index)">
                        <p>@layoutItem.layoutData.Name</p>
                    </div>
                }
            }
        </div>
        <div class="layout-map">
            <img src="@Layouts.ElementAt(selectedLayoutIndex).MapUrl" 
                alt="@Layouts.ElementAt(selectedLayoutIndex).Name" />
        </div>
        <div class="layout-info">
            <div class="info-group">
                <p class="info-value">@Layouts.ElementAt(selectedLayoutIndex).Name</p>
            </div>
            <div class="info-group">
                <p class="info-label">Length</p>
                <p class="info-value">@Layouts.ElementAt(selectedLayoutIndex).Length m</p>
            </div>
            <div class="info-group">
                <p class="info-label">Corners</p>
                <p class="info-value">@Layouts.ElementAt(selectedLayoutIndex).Corners</p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<TrackLayout> Layouts { get; set; } = new();

    private int selectedLayoutIndex = 0;

    private void SetSelection(int index)
    {
        selectedLayoutIndex = index;
    }
}