@page "/detail/{slug}"

@using GTRouteApp.Data
@inject TrackDetailService TrackDetailService
@inject NavigationManager NavigationManager

<div class="detail-container">
    @if (detail == null || string.IsNullOrWhiteSpace(detail.Name)) // assume no detail if there is no name 
    {
        @if (showError)
        {
            <p>@errorMessage</p>
        }
        else
        {
            <div class="loading-traditional" style="height: 85vh;"></div>
        }
    }
    else
    {
        <div class="detail-nav">
            @if (!string.IsNullOrWhiteSpace(origin))
            {
                <button type="button" class="btn btn-secondary" @onclick="() => GoBack(origin)">
                    <span class="bi bi-arrow-left-square"></span> Back
                </button>
            }
            else
            {
                <button type="button" class="btn btn-secondary" @onclick="() => GoBack()">
                    <span class="bi bi-arrow-left-square"></span> Browse Race Tracks
                </button>
            }
        </div>
        <div class="detail-header">
            <div class="detail-header-group-1">
                <img src="@detail.LogoUrl" alt="@detail.Name" />
                <div class="detail-header-inner">
                    <p class="detail-secondary">@detail.Category | @detail.RoadType</p>
                    <p class="detail-primary">@detail.Name</p>
                </div>
            </div>
            <p class="detail-primary"><span class="fi fi-@detail.Country?.code"></span> @detail.Country?.name</p>
        </div>
        @if (layouts.Count() > 0)
        {
            <div class="detail-layout">
                <div class="layout-selection">
                    @foreach (var layoutItem in layouts.Select((layoutData, index) => (layoutData, index)))
                    {
                        @if (layoutItem.index == selectedLayoutIndex)
                        {
                            <div class="layout-item-selected">
                                <p>@layoutItem.layoutData.Name</p>
                            </div>
                        }
                        else
                        {
                            <div class="layout-item">
                                <p>@layoutItem.layoutData.Name</p>
                            </div>
                        }
                    }
                </div>
                <div class="layout-map">
                    <img src="@layouts.ElementAt(selectedLayoutIndex).MapUrl" 
                        alt="@layouts.ElementAt(selectedLayoutIndex).Name" />
                </div>
                <div class="layout-info">
                    <p class="info-label">Length</p>
                    <p class="info-value">@layouts.ElementAt(selectedLayoutIndex).Length km</p>

                    <p class="info-label">Corners</p>
                    <p class="info-value">@layouts.ElementAt(selectedLayoutIndex).Corners</p>
                </div>
            </div>
        }
    }
</div>

@code {

    [Parameter]
    public string slug { get; set; } = "";
    [Parameter]
    [SupplyParameterFromQuery(Name = "origin")]
    public string origin { get; set; } = "";
    private TrackDetail detail = new();
    private List<TrackLayout> layouts = new();
    private int selectedLayoutIndex = 0;
    private string errorMessage = "";
    private bool showError = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadDetail(slug);
        CheckError();
    }

    private async Task LoadDetail(string slug)
    {
        var fetched = await TrackDetailService.GetTrackDetail(slug);
        detail = fetched;
        layouts.AddRange(detail.Layouts);
    }

    private void CheckError()
    {
        errorMessage = TrackDetailService.GetRecentErrorMessage();
        showError = string.IsNullOrWhiteSpace(errorMessage) ? false : true;
    }

    public void GoBack(string originPage = "browse")
    {
        if (originPage.Equals("home"))
        {
            NavigationManager.NavigateTo("/");
        }
        else if (originPage.Equals("browseGallery"))
        {
            NavigationManager.NavigateTo("/browse?preselect_mode=gallery");
        }
        else if (originPage.Equals("browseGrid"))
        {
            NavigationManager.NavigateTo("/browse?preselect_mode=grid");
        }
    }
}