@using GTRouteApp.Data

<div class="detail-gallery">
    <div class="detail-gallery-highlight">
        <div class="highlight-image-section">
            <img src="@Images.ElementAt(selectedImageIndex).ImageUrl" 
                alt="@Images.ElementAt(selectedImageIndex).ImageName" />
        </div>
        <div class="highlight-info-section">
            <div class="info-part-1">
                <p>@Images.ElementAt(selectedImageIndex).Description</p>
            </div>
            <div class="info-part-2">
                <p><span class="bi bi-camera-fill"></span> by @Images.ElementAt(selectedImageIndex).Author</p>
            </div>
        </div>
    </div>
    <div>
        <ul>
            @foreach (var image in Images)
            {
                <li>@image.ImageUrl | @image.Description | @image.Author</li>
            }
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public List<TrackImage> Images { get; set; } = new();
    private int selectedImageIndex = 0;
}