@using GTRouteApp.Models
@using GTRouteApp.Helpers

<div class="detail-general-container">
    <div class="general-group-1">
        <p class="detail-track-name">
            <span class="bi bi-geo-alt-fill" style="margin-right: 6px"></span>@Detail.Name
        </p>
    </div>
    <div class="general-group-2">
        <div class="detail-general-inner">
            <p class="detail-secondary">Category</p>
            <p class="detail-primary">@Detail.Category</p>
        </div>
        <div class="detail-general-inner">
            <p class="detail-secondary">Country</p>
            <p class="detail-primary"><span class="fi fi-@Detail.Country?.code"></span> @Detail.Country?.name</p>
        </div>
        <div class="detail-general-inner">
            <p class="detail-secondary">Road Type</p>
            <p class="detail-primary">@Detail.RoadType</p>
        </div>
        <div class="detail-general-inner">
            <p class="detail-secondary">No. of Layouts</p>
            <p class="detail-primary">@Detail.NumberOfLayouts</p>
        </div>
    </div>
    @if (Detail.Layouts.Count() > 0)
    {
        <div class="general-group-3">
            <p class="detail-secondary">Layout Configurations</p>
            <div class="layout-list">
                @foreach (var layoutData in Detail.Layouts.Take(3))
                {
                    <div class="layout-item-container">
                        <div class="layout-item-content">
                            <div class="layout-item-shimmer"></div>
                            <div class="layout-item-img">
                                <img src="@layoutData.ThumbnailUrl" alt="@layoutData.LayoutName" />
                            </div>
                            <div class="layout-item-name">
                                <p>@layoutData.LayoutName</p>
                            </div>
                        </div>
                    </div>
                }
                @if (Detail.Layouts.Count() > 3)
                {
                    <div class="layout-more-notice-container">
                        <div class="layout-more-notice">
                            <p>
                                Check '<span class="bi bi-sign-turn-slight-right-fill" style="margin-right: 2px;"></span>@DetailSidebarMenu.Layout' to see 
                                more track layouts
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    <div class="general-group-4">
        <img src="@Detail.CoverUrl" alt="@Detail.Name" />
    </div>
</div>

@code {
    [Parameter]
    public TrackDetail Detail { get; set; } = new();
}