@using GTRouteApp.Models

<div class="detail-player-container">
    <div class="detail-player-row-1">
        <button type="button" 
            class="btn btn-secondary" 
            @onclick="() => BackToVideoSelection()">
            <span class="bi bi-arrow-left-square"></span> Back to Selection
        </button>
    </div>

    <div class="detail-player-row-2">
        <div class="player-column">
            <div class="detail-player">
                <BlazoredVideo style="width: inherit" controls="controls">
                    <source src="@Video.VideoUrl" />
                </BlazoredVideo>
            </div>
        </div>

        <div class="information-column">
            <span>@Video.VideoType</span>
            <p>@Video.VideoName</p>
            <p>
                <span class="bi bi-person-fill"></span> @Video.Author
            </p>
            <p>
                <span class="bi bi-card-text"></span> @Video.Description
            </p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public TrackVideo Video { get; set; } = new();

    [Parameter]
    public EventCallback OnBackClicked { get; set; }

    private async Task BackToVideoSelection()
    {
        await OnBackClicked.InvokeAsync();
    }
}