@using GTRouteApp.Data
@inject IJSRuntime JS

<div class="gallery-container">
    @if (Images.Count() < 1)
    {
        <p>No Data</p>
    }
    else
    {
        <div class="detail-gallery-highlight">
            <div class="highlight-image-section">
                <div class="highlight-placeholder">
                    <span class="bi bi-image-fill"></span>
                </div>
                <img src="@Images.ElementAt(selectedImageIndex).ImageUrl" 
                    alt="@Images.ElementAt(selectedImageIndex).ImageName">
                <button class="btn btn-secondary full-btn" 
                    @onclick="() => OpenImageInFullScreen(Images.ElementAt(selectedImageIndex).ImageUrl)">
                    <span class="bi bi-arrows-fullscreen"></span>
                </button>
                <button class="btn btn-secondary next-btn" 
                    disabled="@isNextDisabled"
                    @onclick="() => SetSelection(selectedImageIndex + 1)">
                    <span class="bi bi-chevron-right"></span>
                </button>
                <button class="btn btn-secondary prev-btn" 
                    disabled="@isPrevDisabled"
                    @onclick="() => SetSelection(selectedImageIndex - 1)">
                    <span class="bi bi-chevron-left"></span>
                </button>
                <button class="btn btn-secondary info-visibility-btn" 
                    style="bottom: @infoVisibilityButtonBottomPosition;"
                    @onclick="() => ToggleInfoVisibility()">
                    @if (isInfoHidden)
                    {
                        <p>Show Info<span class="bi bi-chevron-up" style="margin-left: 8px;"></span></p>
                    }
                    else
                    {
                        <p>Hide Info<span class="bi bi-chevron-down" style="margin-left: 8px;"></span></p>
                    }
                </button>
                <div class="highlight-info-section" style="visibility: @infoVisibilityStyle;">
                    <div class="info-part-1">
                        <p>@Images.ElementAt(selectedImageIndex).Description</p>
                    </div>
                    <div class="info-part-2">
                        <p><span class="bi bi-camera-fill"></span> by @Images.ElementAt(selectedImageIndex).Author</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="detail-gallery-selection">
            @foreach (var image in Images.Select((imageData, index) => (imageData, index)))
            {
                @if (selectedImageIndex == image.index)
                {
                    <div class="gallery-item-selected">
                        <div class="item-placeholder">
                            <span class="bi bi-image-fill"></span>
                        </div>
                        <img src="@image.imageData.ImageUrl" 
                            alt="@image.imageData.ImageName" />
                    </div>
                }
                else
                {
                    <div class="gallery-item" @onclick="() => SetSelection(image.index)">
                        <div class="item-placeholder">
                            <span class="bi bi-image-fill"></span>
                        </div>
                        <img src="@image.imageData.ImageUrl" 
                            alt="@image.imageData.ImageName" />
                    </div>
                }
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public List<TrackImage> Images { get; set; } = new();
    private int selectedImageIndex = 0;
    private bool isNextDisabled = false;
    private bool isPrevDisabled = false;
    private bool isInfoHidden = false;
    private string infoVisibilityStyle = "visible"; // "hidden" and "visible"
    private string infoVisibilityButtonBottomPosition = "74px"; // "12px" and "74px"

    protected override void OnParametersSet()
    {
        ToggleArrowButton();
    }

    private void SetSelection(int selectedIndex)
    {
        selectedImageIndex = selectedIndex;

        ToggleArrowButton();
        SetDefaultInfoVisibility();
    }

    private async Task OpenImageInFullScreen(string? url)
    {
        if (url is not null)
            await JS.InvokeVoidAsync("open", url, "_blank");
    }

    private void ToggleArrowButton()
    {
        isNextDisabled = selectedImageIndex == (Images.Count() - 1) ? true : false;
        isPrevDisabled = selectedImageIndex == 0 ? true : false;
    }

    private void ToggleInfoVisibility()
    {
        isInfoHidden = isInfoHidden ? false : true;
        infoVisibilityStyle = isInfoHidden ? "hidden" : "visible";
        infoVisibilityButtonBottomPosition = isInfoHidden ? "12px" : "74px";
    }

    private void SetDefaultInfoVisibility()
    {
        isInfoHidden = false;
        infoVisibilityStyle = "visible";
        infoVisibilityButtonBottomPosition = "74px";
    }
}