@using GTRouteApp.Data
@inject NavigationManager NavigationManager

<div class="grid-container">
    <div class="grid-list">
        @foreach (var track in Tracks.Select((trackData, index) => (trackData, index)))
        {
            <div class="item-container">
                <div class="item-content"
                    style="background-image: url(@track.trackData.CoverUrl); --delay: @track.index;"
                    @onclick="() => AccessTrackDetail(track.trackData.Slug!)">
                    <div class="content-section-1">
                        <img 
                            src="@track.trackData.LogoUrl"
                            alt="@track.trackData.LogoUrl"
                        />
                        <p>@track.trackData.Name</p>
                    </div>
                    <div class="content-section-2">
                        <p>
                            <span class="fi fi-@track.trackData.Country?.code" style="margin-right: 6px;"></span>
                            <span>@track.trackData.Category</span>
                        </p>
                    </div>
                </div>
            </div>
        }
        <div class="more-notice-container">
            <div class="more-notice" style="--delay: @Tracks.Count();">
                <button type="button" 
                    class="btn btn-success"
                    @onclick="@(() => LoadMoreTracks())">
                    Load More
                </button>
            </div>
        </div>
        <div class="more-notice-container">
            <div class="more-notice" style="--delay: @Tracks.Count();">
                <p>More race tracks will be added<br>in the future</p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<RaceTrack> Tracks { get; set; } = new();

    [Parameter]
    public EventCallback OnLoadMoreClicked { get; set; }

    private void AccessTrackDetail(string slug)
    {
        NavigationManager.NavigateTo($"/browse/detail/{slug}?origin=browseGrid");
    }

    private async Task LoadMoreTracks()
    {
        await OnLoadMoreClicked.InvokeAsync();
    }
}