@using GTRouteApp.Models
@using GTRouteApp.Helpers
@namespace GTRouteApp.Components.Browse
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<div class="gallery-container">
    <div @ref="highlightCoverRef" class="gallery-highlight" 
        style="--bg-cover: url('@_SelectedTrack.CoverUrl');">
        <div class="highlight-section-1">
            <p>
                <span class="fi fi-@_SelectedTrack.Country?.code"></span>
                <span @ref="section1CountryRef" class="section-1-country-span">@_SelectedTrack.Country?.name</span>
            </p>
            <img
                src="@_SelectedTrack.LogoUrl"
                alt="@_SelectedTrack.LogoUrl"
                @ref="section1LogoRef"
            />
        </div>
        <div class="highlight-section-2">
            <div class="section-2-left">
                <p>
                    <span @ref="section2NameRef">@_SelectedTrack.Name</span>
                </p>
                <p>Category</p>
                <p>
                    <span @ref="section2CategoryRef">@_SelectedTrack.Category</span>
                </p>
                <p>No. Of Layouts</p>
                <p>
                    <span @ref="section2LayoutRef">@_SelectedTrack.NumberOfLayouts</span>
                </p>
            </div>
            <button type="button" 
                class="btn btn-success"
                @onclick="@(() => AccessTrackDetail(_SelectedSlug))">
                View Track
            </button>
        </div>
    </div>
    <div class="gallery-selection">
        <Virtualize Items="@Tracks" Context="track">
            <div class="@(_SelectedSlug.Equals(track.Slug) ? 
                        "gallery-item-container-selected" : "gallery-item-container")" 
                style="background-image: url(@track.CoverUrl);"
                @onclick="() => SetSelection(track.Slug, true)">
                <div class="@(_SelectedSlug.Equals(track.Slug) ? 
                            "gallery-item-content-selected" : "gallery-item-content")">
                    <img
                        src="@track.LogoUrl"
                        alt="@track.Name"
                    />
                </div>
            </div>
        </Virtualize>
        @if (!IsMaximum)
        {
            <div class="more-notice">
                <button type="button" 
                    class="@loadMoreBtnClass"
                    disabled="@IsLoadMoreDisabled"
                    @onclick="@(() => LoadMoreTracks())">
                    @loadMoreBtnText
                </button>
                @if (IsLoadMoreError)
                {
                    <p style="margin-left: 10px;">
                        @ErrorMessage.LoadMoreTracksFailed
                    </p>
                }
            </div>
        }
        else
        {
            <div class="more-notice">
                <p>More race tracks will be added<br>in the future</p>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public List<RaceTrack> Tracks { get; set; } = new();
    private string _SelectedSlug = "";
    private RaceTrack _SelectedTrack = new();

    [Parameter]
    public bool IsMaximum { get; set; } = false;
    [Parameter]
    public bool IsLoadMoreError { get; set; } = false;
    [Parameter]
    public bool IsLoadMoreDisabled { get; set; } = false;
    [Parameter]
    public EventCallback OnLoadMoreClicked { get; set; }
    [Parameter]
    public EventCallback<string> OnViewClickHandler { get; set; }

    private string loadMoreBtnClass = "";
    private string loadMoreBtnText = "";
    ElementReference highlightCoverRef, section1CountryRef, section1LogoRef, 
        section2NameRef, section2CategoryRef, section2LayoutRef;

    protected override async Task OnInitializedAsync()
    {
        await PreselectTrack();
    }

    protected override void OnParametersSet()
    {
        loadMoreBtnClass = !IsLoadMoreError ? "btn btn-primary btn-more" : "btn btn-warning btn-more";
        loadMoreBtnText = !IsLoadMoreError ? "Load More" : "Try Again";
    }

    private async Task PreselectTrack()
    {
        if (Tracks.Count() > 0 &&
            !string.IsNullOrEmpty(Tracks.ElementAt(0).Slug))
        {
            await SetSelection(Tracks.ElementAt(0).Slug);
        }
    }

    private async Task SetSelection(string? slug, bool allowResetAnimation = false)
    {
        if (!string.IsNullOrEmpty(slug) && !_SelectedSlug.Equals(slug))
        {
            _SelectedSlug = slug;
            _SelectedTrack = Tracks.Where(t => t.Slug == _SelectedSlug).FirstOrDefault() ?? new();

            if (allowResetAnimation)
                await ResetHighlightAnimationWithJS();
        }
    }

    private async Task AccessTrackDetail(string slug)
    {
        await OnViewClickHandler.InvokeAsync(slug);
    }

    private async Task LoadMoreTracks()
    {
        await OnLoadMoreClicked.InvokeAsync();
    }

    private async Task ResetHighlightAnimationWithJS()
    {
        await JS.InvokeVoidAsync("resetAnimationByReinsertClassName", highlightCoverRef, "gallery-highlight");
        await JS.InvokeVoidAsync("resetAnimationByStyle", section1CountryRef);
        await JS.InvokeVoidAsync("resetAnimationByStyle", section1LogoRef);
        await JS.InvokeVoidAsync("resetAnimationByStyle", section2NameRef);
        await JS.InvokeVoidAsync("resetAnimationByStyle", section2CategoryRef);
        await JS.InvokeVoidAsync("resetAnimationByStyle", section2LayoutRef);
    }
}