@page "/player"
@using GTRouteApp.Helpers

<div class="player-container" @ref="playerRef">
    <div class="player-side-sub-container">
        <div class="player-row-1">
            <button type="button" 
                class="btn btn-secondary">
                <span class="bi bi-arrow-left-square"></span> Back to Home
            </button>
        </div>

        <div class="player-row-2">
            <div class="player-column">
                <div class="standalone-player">
                    <BlazoredVideo @ref="videoRef"
                        style="width: inherit;
                            box-shadow: 1px 1px 16px rgba(30, 32, 34, 0.6);" 
                        controls="controls">
                        <source src="video/pexels-abed-ismail-1.mp4" />
                    </BlazoredVideo>
                </div>
            </div>

            <div class="information-column">
                <span>Duel Race</span>
                <p>Supra vs GT-R GT500 Duel on Deep Forest</p>
                <p>
                    <span class="bi bi-person-fill"></span> zeroind233
                </p>
                <p>
                    <span class="bi bi-card-text"></span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin ipsum id sollicitudin vehicula. 
                    Aenean luctus laoreet nulla. Nam pharetra mattis mollis. Orci varius natoque penatibus et magnis dis parturient montes, 
                    nascetur ridiculus mus. Aliquam erat volutpat. Curabitur est sapien, egestas id tempus quis, vestibulum dictum sem. 
                    In vestibulum vehicula.
                </p>
            </div>
        </div>
    </div>

    <div class="related-side-sub-container">
        <div class="related-header">
            <span><i class="bi bi-film"></i> Related Video&#40;s&#41;</span>
        </div>

        <div class="related-videos">
            <article class="related-video-item">
                <div class="related-thumbnail-area">
                    <img alt="video name here" 
                        src="img/sample-cover.jpg" />
                    <span class="bi bi-play-circle"></span>
                    <span><i class="bi bi-stopwatch"></i> @TimeConverters.ConvertSecondsToMinutes(168)</span>
                </div>

                <div class="related-info-area">
                    <span>Race Replay</span>
                    <p>Group 3 Race on Deep Forest Reverse</p>
                    <p>
                        <span class="bi bi-person-fill"></span>
                        zeroind233
                    </p>
                </div>
            </article>

            <article class="related-video-item">
                <div class="related-thumbnail-area">
                    <img alt="video name here" 
                        src="img/sample-cover.jpg" />
                    <span class="bi bi-play-circle"></span>
                    <span><i class="bi bi-stopwatch"></i> @TimeConverters.ConvertSecondsToMinutes(168)</span>
                </div>

                <div class="related-info-area">
                    <span>Race Replay</span>
                    <p>Group 3 Race on Deep Forest Reverse</p>
                    <p>
                        <span class="bi bi-person-fill"></span>
                        zeroind233
                    </p>
                </div>
            </article>

            <article class="related-video-item">
                <div class="related-thumbnail-area">
                    <img alt="video name here" 
                        src="img/sample-cover.jpg" />
                    <span class="bi bi-play-circle"></span>
                    <span><i class="bi bi-stopwatch"></i> @TimeConverters.ConvertSecondsToMinutes(168)</span>
                </div>

                <div class="related-info-area">
                    <span>Race Replay</span>
                    <p>Group 3 Race on Deep Forest Reverse</p>
                    <p>
                        <span class="bi bi-person-fill"></span>
                        zeroind233
                    </p>
                </div>
            </article>

            <article class="related-video-item">
                <div class="related-thumbnail-area">
                    <img alt="video name here" 
                        src="img/sample-cover.jpg" />
                    <span class="bi bi-play-circle"></span>
                    <span><i class="bi bi-stopwatch"></i> @TimeConverters.ConvertSecondsToMinutes(168)</span>
                </div>

                <div class="related-info-area">
                    <span>Race Replay</span>
                    <p>Group 3 Race on Deep Forest Reverse</p>
                    <p>
                        <span class="bi bi-person-fill"></span>
                        zeroind233
                    </p>
                </div>
            </article>

            <article class="related-video-item">
                <div class="related-thumbnail-area">
                    <img alt="video name here" 
                        src="img/sample-cover.jpg" />
                    <span class="bi bi-play-circle"></span>
                    <span><i class="bi bi-stopwatch"></i> @TimeConverters.ConvertSecondsToMinutes(168)</span>
                </div>

                <div class="related-info-area">
                    <span>Race Replay</span>
                    <p>Group 3 Race on Deep Forest Reverse</p>
                    <p>
                        <span class="bi bi-person-fill"></span>
                        zeroind233
                    </p>
                </div>
            </article>
        </div>
    </div>
</div>

@code {
    BlazoredVideo? videoRef;
    ElementReference playerRef;
}