@using GTRouteApp.Models
@using GTRouteApp.Helpers
@namespace GTRouteApp.Components.Detail

<div class="gallery-container">
    @if (Images.Count() < 1)
    {
        <DetailNoData Text="image" />
    }
    else
    {
        <DetailGalleryInnerHeader Info="@_InnerHeaderInfo" 
            SelectedMode="@_SelectedMode"
            OnGalleryModeChanged="ChangeGalleryMode" />

        @if (_SelectedMode == DetailGalleryMode.Slideshow)
        {
            <DetailGallerySlideshow LoadedImages="@loadedImages" 
                TotalNumberOfImages="@Images.Count()"
                OnLoadMoreClicked="() => LoadImages(nextPage)" />
        } 
        else if (_SelectedMode == DetailGalleryMode.Grid)
        {
            <DetailGalleryGrid LoadedImages="@loadedImages"
                TotalNumberOfImages="@Images.Count()"
                OnLoadMoreClicked="() => LoadImages(nextPage)" />
        }
    }
</div>

@code {
    [Parameter]
    public List<TrackImage> Images { get; set; } = new();

    private List<TrackImage> loadedImages = new();
    private int nextPage = 1;
    private const int itemLimit = 6;
    private DetailGalleryMode _SelectedMode = DetailGalleryMode.Slideshow;
    private string _InnerHeaderInfo = "";

    private const string _SlideshowInfo = "Click or tap image at the bottom to higlight.";
    private const string _GridInfo = "Click or tap image to view.";
    
    protected override void OnInitialized()
    {
        _InnerHeaderInfo = _SlideshowInfo; // pre-set to slideshow mode info
        LoadImages(nextPage);
    }

    private void LoadImages(int page)
    {
        var images = Images.Skip(itemLimit * (page - 1)).Take(itemLimit).ToList();
        loadedImages.AddRange(images);

        nextPage += 1;
    }

    private void ChangeGalleryMode(DetailGalleryMode mode)
    {
        _SelectedMode = mode;

        switch (_SelectedMode)
        {
            case DetailGalleryMode.Slideshow:
                _InnerHeaderInfo = _SlideshowInfo;
                break;
            case DetailGalleryMode.Grid:
                _InnerHeaderInfo = _GridInfo;
                break;
        }
    }
}