@using GTRouteApp.Models
@namespace GTRouteApp.Components.Search

<article class="item-container" 
    @onclick="@(() => AccessTrackItemDetail(Track.Slug ?? ""))">
    <img src="@Track.LogoUrl" alt="@Track.Name" />
    <div class="item-information">
        <p>@Track.Name</p>
        <hr>
        <p>@Track.Category</p>
        <p><span class="fi fi-@Track.Country?.code"></span> @Track.Country?.name</p>
    </div>
</article>

@code {
    [Parameter]
    public RaceTrack Track { get; set; } = new();
    [Parameter]
    public EventCallback<string> OnTrackItemClicked { get; set; }
    
    private async Task AccessTrackItemDetail(string slug)
    {
        await OnTrackItemClicked.InvokeAsync(slug);
    }
}