@using GTRouteApp.Models
@using GTRouteApp.Helpers
@namespace GTRouteApp.HomeComponents

<div class="media-container">
    <div class="media-inner-container">
        @foreach (var media in Media)
        {
            <article class="media-item-container">
                <div class="media-item" style="background-image:url(@media.ThumbnailUrl);">
                    <div class="item-section-top">
                        <span>@media.VideoType</span>
                        <img src="@media.LogoUrl" alt="@media.TrackName" />
                    </div>
                    <div class="item-section-middle">
                        <span class="bi bi-play-circle"></span>
                    </div>
                    <div class="item-section-bottom">
                        <div class="bottom-section-1">
                            <p>@media.VideoName</p>
                            <p>
                                <span class="bi bi-person-fill"></span>
                                @media.Author
                            </p>
                        </div>
                        <div class="bottom-section-2">
                            <span>
                                <i class="bi bi-stopwatch"></i> @TimeConverters.ConvertSecondsToMinutes(media.DurationInSeconds ?? 0)
                            </span>
                        </div>
                    </div>
                </div>
            </article>
        }
    </div>
</div>

@code {
    [Parameter]
    public List<FeaturedVideo> Media { get; set; } = new();
}